.detail-group {
  + .detail-group {
    padding-top: 0;
  }
}

.detail-item-value .scene-count {
  opacity: 0.65;

  &::before {
    content: " (";
  }
  &::after {
    content: ")";
  }
}

.full-width {
  .detail-item {
    .detail-item-title {
      // Increase from default of 130px
      width: 150px;
    }
  }
}
