#pluginPerformerLibraryMeta {
  padding-top: 0;

  .detail-item-value .scene-count {
    opacity: 0.65;

    &::before {
      content: " (";
    }
    &::after {
      content: ")";
    }
  }
}

.full-width #pluginPerformerLibraryMeta .detail-item {
  .detail-item-title {
    width: 180px;
  }

  &.detail-item-wide {
    display: inline-flex;

    .detail-item-title,
    .detail-item-value {
      width: 100%;
    }
  }
}
