#pluginPerformerLibraryMeta {
  padding-top: 0;

  .detail-item-value .additional-data {
    opacity: 0.65;

    &::before {
      content: " (";
    }
    &::after {
      content: ")";
    }
  }

  /* -------------------------- Item component styles ------------------------- */

  .hoverable {
    border-bottom: 1px dotted white;
  }

  .library-timespan {
    .inner-wrapper {
      display: inline-flex;
      align-items: center;
    }

    .separator {
      margin: 0 5px;
    }
  }
}

/* ---------------------------- Full width styles --------------------------- */

.full-width #pluginPerformerLibraryMeta .detail-item {
  .detail-item-title {
    width: 180px;
  }

  &.detail-item-wide {
    display: inline-flex;

    .detail-item-title,
    .detail-item-value {
      width: 100%;
    }
  }
}
