.performer-details-extended {
  /** Display item values horizontally instead of vertically. */
  .inner-wrapper {
    display: inline-flex;
    align-items: center;
  }

  /** Horizontal spacing between separator and text*/
  .separator {
    margin: 0 5px;
  }

  .detail-item-value {
    .additional-data {
      opacity: 0.65;

      &::before {
        content: " (";
      }
      &::after {
        content: ")";
      }
    }

    .hoverable {
      border-bottom: 1px dotted white;
    }
  }
}
