@use "sass:math";
$detail-item-title-color: #868791;
$detail-additional-data-opacity: 0.65;
$detail-group-padding-y: 1rem;
$detail-group-padding-small-y: 0.5rem;

// Purposefully target all detail groups.
.detail-header .detail-group {
  padding-bottom: $detail-group-padding-small-y;
}

.detail-group.performer-details-extended {
  padding-top: $detail-group-padding-small-y;

  // Add bottom padding back to last group to match native styling.
  padding-bottom: $detail-group-padding-y;
}

.performer-details-extended {
  &:empty {
    display: none !important;
  }

  // Display item values horizontally instead of vertically.
  .inner-wrapper {
    display: inline-flex;
    align-items: center;
  }

  // Horizontal spacing between separator and text.
  .separator {
    margin: 0 5px;
  }

  .detail-item-value {
    .additional-data {
      opacity: $detail-additional-data-opacity;

      &::before {
        content: " (";
      }
      &::after {
        content: ")";
      }
    }

    .hoverable {
      border-bottom: 1px dotted white;
    }
  }
}

@media (max-width: 576px) {
  // Purposefully target all detail groups.
  .detail-header .detail-group {
    padding-bottom: $detail-group-padding-small-y;
  }

  // Add bottom padding back to last group to match native styling.
  .detail-header .performer-details-extended {
    padding-bottom: $detail-group-padding-y;
  }
}

/* -------------------------------------------------------------------------- */
/*                              Optional styling                              */
/* -------------------------------------------------------------------------- */

.detail-group-pde-themed {
  // Separator lines between detail groups, with increased padding
  ~ .detail-group-pde-themed {
    border-top: 1px solid $detail-item-title-color;
    padding-bottom: $detail-group-padding-y;
    padding-top: $detail-group-padding-y;
  }

  @media (max-width: 576px) {
    .detail-item {
      // Allow data to be displayed in columns if space allows.
      min-width: 50%;
    }
  }
}
