/** Purposefully target all detail groups. */
.detail-header .detail-group {
  padding-bottom: 0.5rem;
}

.detail-header {
  .detail-group-tops,
  .detail-group-numbers {
    padding-top: 0.5rem;
  }
}

/** Add bottom padding back to last group to match native styling. */
.detail-header .detail-group-numbers {
  padding-bottom: 1rem;
}

.performer-details-extended {
  &:empty {
    display: none !important;
  }

  /** Display item values horizontally instead of vertically. */
  .inner-wrapper {
    display: inline-flex;
    align-items: center;
  }

  /** Horizontal spacing between separator and text. */
  .separator {
    margin: 0 5px;
  }

  .detail-item-value {
    .additional-data {
      opacity: 0.65;

      &::before {
        content: " (";
      }
      &::after {
        content: ")";
      }
    }

    .hoverable {
      border-bottom: 1px dotted white;
    }
  }
}

@media (max-width: 576px) {
  /** Purposefully target all detail groups. */
  .detail-header .detail-group {
    padding-bottom: 0.5rem;
  }

  /** Add bottom padding back to last group to match native styling. */
  .detail-header .detail-group-numbers {
    padding-bottom: 1rem;
  }
}

/* ----------------------- Optional additional styling ---------------------- */

.detail-group-pde-themed {
}
